.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.auth-box {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    color: white;
    text-align: center;
    width: 400px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.button-group button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.button-group button.active {
    background: #fff;
    color: #6a11cb;
    font-weight: bold;
}

.auth-form {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.auth-form.active {
    display: flex;
}

.auth-form input,
.auth-form select {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

.auth-form button {
    background-color: var(--color-1);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}